{% extends 'base.html.twig' %}

{% block title %}Mise à jour sur le site{% endblock %}

{% block allActive %}active{% endblock %}

{% block body %}
<style>
    .all-paintings {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 5rem 0;
    }

    {# .one-painting:hover {
        transform: scale(2.5);
        z-index: 1;
    } #}

    .little-button-choice {
        background-color: transparent;
        border: none;
    }

    .little-button-choice:hover {
        cursor: pointer;
    }

    .info {
        position: absolute;
        left: 0;
        top: 0;
        color: white;
        border: 2px solid white;
        box-shadow: 1px 1px 1px black;
        border-radius: 100%;
        padding: 2px 5px;
        text-shadow: 1px 1px 1px black;
    }
</style>

<h1>Affichage des peintures sur le site ou non</h1>

<h2>Cliquer pour modifier</h2>

<div class="all-paintings">
    {% for painting in paintings %}
        <div style="width: 12%; margin: 0 2rem 2rem 0; position: relative" class="one-painting">
            <img src="{{ asset(painting.picture.pathname) }}" style="max-width: 100%"/>
            <form action="/all-paintings-edit/{{ painting.id }}/page/{{ page }}" method="POST">
                <button type="submit" class="little-button-choice" style="position: absolute; right: 0; top: 0;">{{ painting.webDisplay ? '✅' : '❌'}}</button>
            </form>
            <a class="info" href="{{ path('read_paint', {id:painting.id}) }}">i</a>
        </div>
    {% endfor %}
</div>

<nav aria-label="Page navigation">
  <ul class="pagination justify-content-center">
    <li class="page-item"><a class="page-link" href="{{ path('all_paintings', {page:previousPage}) }}">- 5 Previous</a></li>
    
    {% if pages['pageMin'] < 2 %}
    {% else %}
    <li class="page-item"><p class="page-link" href="">...</p></li>
    {% endif %}

    
    
    {% for i in pages['pageMin']..pages['pageMax'] %}
        <li class="page-item"><a class="page-link" href="{{ path('all_paintings', {page:i}) }}">{{ i }}</a></li>
    {% endfor %}
        
    {% if pages['pageMax'] > totalPages - 1 %}
    {% else %}
    <li class="page-item"><p class="page-link" href="">...</p></li>
    {% endif %}


    <li class="page-item"><a class="page-link" href="{{ path('all_paintings', {page:nextPage}) }}">+ 5 Next</a></li>
  </ul>
</nav>

{% endblock %}
