{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block homeActive %}active{% endblock %}

{% block body %}

<h1>Hello ! ✅</h1>
<h2>Liste de toutes les peintures</h2>

{{ include('sample/_painting_skeleton.html.twig', {'slice' : slice,
'limitPage' : limitPage}) }}

<hr>

<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item"><a class="page-link" href="{{ path('home_plus', {id:previousPage}) }}">- 5 Previous</a></li>
    
    {% if pages['pageMin'] < 2 %}
    {% else %}
    <li class="page-item"><a class="page-link" href="">...</a></li>
    {% endif %}

    
    
    {% for i in pages['pageMin']..pages['pageMax'] %}
        <li class="page-item"><a class="page-link" href="{{ path('home_plus', {id:i}) }}">{{ i }}</a></li>
    {% endfor %}
        
    {% if pages['pageMax'] > totalPages - 1 %}
    {% else %}
    <li class="page-item"><a class="page-link" href="">...</a></li>
    {% endif %}


    <li class="page-item"><a class="page-link" href="{{ path('home_plus', {id:nextPage}) }}">+ 5 Next</a></li>
  </ul>
</nav>

{% endblock %}
