{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block homeActive %}active{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello ! ✅</h1>

    {% for paint in paintings %}
        <div>
            <p><b><a href="{{ path('read_paint', {id:paint.id}) }}">{{ paint.title }}</a></b> peint en {{ paint.date|date('Y') }} ({{ paint.size.format }}) {{ paint.height }}x{{ paint.width }}</p>
            {% for category in paint.categories %}
                <span class="badge bg-primary">{{ category.name }}</span>
            {% endfor %}
            <p>Encadrement : {{ paint.frame.framing }}</p>
            <p>Collection : {{ paint.situation.collection }}</p>
            <p>Localisation : {{ paint.location }}</p>
        </div>
        <img src="{{ paint.picture }}" style="height: 150px; width: 150px"/>
        <p>Information : {{ paint.information }}</p>
        <hr>
    {% endfor %}

</div>
{% endblock %}
