<style>
    @media (max-width: 990px) {
        .paint-big {
            display: none !important;
        }

        .paint-small {
            font-size: 1.2rem !important;
        }
    }

    @media (min-width: 990px) {
        .paint-small {
            display: none !important;
        }
    }
</style>

{% for paint in paintings %}
    <div class="paint-big" style="margin-bottom: 1rem; padding-bottom: 1rem; border-bottom: 1px solid black">
        <div style="display: flex">
            <a href="{{ path('read_paint', {id:paint.id}) }}" style="width: 50%; text-align: center; margin-right: 2rem"><img src="{{ asset('Small/' ~ paint.picture.pathname) }}" style="max-height: 300px; max-width: 100%"/></a>
            <div style="margin: auto 0">
                <p><b><a href="{{ path('read_paint', {id:paint.id}) }}">{{ paint.title ?? paint.dbName }}</a></b> peint en {{ paint.date is not same as null ? paint.date : 'Non précisée.' }} ({{ paint.size.format ?? 'Non précisé.' }})
                {% if paint.height is not same as null and paint.width is not same as null %}
                    {{ paint.height }} x {{ paint.width }} cm
                {% else %}
                    Non précisée
                {% endif %}
                </p>
                {% for category in paint.categories %}
                    <span style="margin-bottom: 1rem" class="badge bg-primary">{{ category.name }}</span>
                {% endfor %}
                <p>Encadrement : {{ paint.frame.framing ?? 'Non précisé.' }}</p>
                <p>Collection : {{ paint.situation.collection ?? 'Non précisée.' }}</p>
                <p>Localisation : {{ paint.location ?? 'Non précisée.' }}</p>
                <p style="margin: 1rem 0">Information : {{ paint.information ? paint.information|u.truncate(200, '[...]', false) : 'Pas d\'information complémentaire pour le moment.'}}</p>
            </div>
        </div>
    </div>
    <div class="paint-small" style="margin-bottom: 2rem; padding-bottom: 2rem; border-bottom: 1px solid black">
        <div style="display: flex">
            <a href="{{ path('read_paint', {id:paint.id}) }}" style="width: 50%; text-align: center; padding-right: 2rem"><img src="{{ asset(paint.picture.pathname) }}" style="max-height: 300px; max-width: 100%"/></a>
            <div style="margin: auto 0; width: 50%;">
                <p><b><a href="{{ path('read_paint', {id:paint.id}) }}">{{ paint.title ?? paint.dbName }}</a></b> ({{ paint.date is not same as null ? paint.date : 'NC' }}) - ({{ paint.size.format ?? 'NC' }})
                {% if paint.height is not same as null and paint.width is not same as null %}
                    {{ paint.height }} x {{ paint.width }}
                {% endif %}
                </p>
                {% for category in paint.categories %}
                    <span style="margin-bottom: 1rem" class="badge bg-primary">{{ category.name }}</span>
                {% endfor %}
                <p>{{ paint.frame.framing ?? 'Non précisé.' }}</p>
                <p>{{ paint.situation.collection ?? 'Non précisée.' }}</p>
            </div>
        </div>
    </div>
{% endfor %}
